* {
 text-align: left;
}

/* botões da navbar */

.bg-black {
 background-color: #000000;
}

.navbuttonmob {
 font-size: 25px;
 text-decoration: none;
 font-family: "Roboto Mono", "Trebuchet MS";
 font-weight: 400;
 color: #fff!important;
 margin-right: 15px;
 position:relative;
 margin-top: 22px;
 margin-bottom: 22px;
}


.navbuttoncta {
 position: relative;
 margin-top: 22px;
margin-bottom: 22px;
}

.navbuttonmob:hover {
 color: #ababab!important;
 background-color: #ababab56;
 }

.topnav {
 position: relative;
 font-family: "Roboto Mono", "Trebuchet MS";
 font-weight: 400;
 color: #fff;
 text-decoration: none;
 padding-bottom: 5px;
 padding-top: 5px;
 padding-right: 40px;
 top: 25px;
}

/* logo */


.logo {
    color: #fff!important;
    margin-top: 22px;
    margin-bottom: 22px;
    border: 1px solid #00D2AD;
    padding-right: 1px!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    padding-left: 2px!important;
}
    
@media screen and (max-width: 400px) {
    .navbar-brand {
 margin-right: 0!important;
    }
    #navcontainer {
    padding-left: 0!important;
    padding-right: 0!important;
    }
    .navbar-toggler {
     margin-right: 0!important;
    }
    }

    @media screen and (max-width: 767px) {
        .imghero {
            display: none;
           }
        }

    @media screen and (min-width: 768px) {
       .logo {
    margin-left: 18%;
   }
   .button2 {
       margin-left: 50px;
   }
   .image-heromobile{
    display: none;
   }
}

/* hero */

.imghero {
 background-image: url(images/backgroundcaixa.png);
 background-position: center;
 background-size: cover;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
 font-family: "Montserrat Bold", "Verdana"
}

h1, h2, h5, h6 {
 font-weight: 700!important;
}

h1 {
 font-size: 48px;
 padding-bottom: 10px;
}

h2 {
 font-size: 32px;
}

h3 {
 font-size: 26px;
 font-weight: 400;
}

h4 {
 font-size: 20px;
 font-weight: 500;
}

h5 {
 font-size: 18px;
}

h6 {
 font-size: 16px;
}

p, a, ol, ul {
 font-family: "Roboto Mono", "Trebuchet MS";
 font-size: 12px;
 font-weight: 400;
 color: #fff;
}

/* caixa */

.caixa {
 display: flex;
 justify-content: center;
}

/* configura o botão preto */

.button1 {
 text-decoration: none!important;
 color: #fff!important;
 background-color: #000000!important;
 font-weight: 700!important;
 box-shadow: 5px grey;
 font-family: "Roboto Mono", "Trebuchet MS"!important;
 border: 2px black;
}

.button1:hover {
 background-color: #fff!important;
 border: none!important;
 color: #000000!important;
 box-shadow: 0 0 0 3px black!important;
}

.button1:active {
 background-color: #515151;
 color:#fff;
}

/* configura o botão branco */

.button2 {
 display: inline-block;
 text-align: center;
 text-decoration: none;
 outline: none;
 color: #000000!important;
 background-color: #fff;
 border: none;
 font-weight: 700!important;
 font-family: "Roboto Mono", "Trebuchet MS"!important;
}

.button2:hover {
    background-color: #515151!important;
    border: none!important;
    color: #fff!important;
}

.button2:active {
 background-color: #000000;
 color:#fff;
}

/* tamanho dos botões */

.large {
 font-size: 21px;
 padding: 28px 60px;
}

.medium {
 font-size: 25px;
 padding: 10px 30px!important;
 font-weight: 700;
}

.small {
 font-size: 14px;
 padding: 140px 40px;
}

/* headings 2 */

.heading:first-child {
 margin-top: 40px;
}

.heading {
    margin-bottom: 40px;
   }
   